<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Car color</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Mark</th>
        <th>Model</th>
        <th>Color</th>
    </tr>
    <tr th:each="car: ${carColorList}">
        <td th:text="${car.getId()}"></td>
        <td th:text="${car.getMark()}"></td>
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getColor()}"></td>
    </tr>
    <p><a th:href="@{/cars}"> Go to Car List </a></p>
</table>
</body>
</html>
